@charset "utf-8";




section{
    margin: 25px;
    width: 704px;
    height: 284px;
    top: 260px;
    left: 360px;
    gap: 111px;
    opacity: 1;
    /* 準備 */
    position: relative;
}

/*フォント*/

h1{
    font-family: Noto Sans JP;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
}

h2{
    font-family: Noto Sans JP;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    line-height: 300%;
    letter-spacing: 0%;
}
.salesperson{
    text-align: center;
    padding-bottom: 100px;
}




.div-box{
    display: flex;
    width: 640px;
    height: 130px;
    justify-content: space-between;
    opacity: 1;
}


.yes{
    background-color: #C8FFFF;
    text-align: center;
    border-radius: 20px;
    width: 180px;
    height: 130px;
    opacity: 1;
}
.no{
    background-color: #FF8438;
    text-align: center;
    border-radius: 20px;
    width: 180px;
    height: 130px;
    opacity: 1;
}