<html lang="ja">
    <head>
        <link rel="stylesheet" href="style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="24reset.css">
    </head>
    <body>
        <main>
            <div data-include="pages/components/OrderCompleted/index.html"></div>
            <div>
                <h1>注文が完了しました</h1>
                <p>#画面をタッチするとメニュー画面に戻ります</p>
                <div>
                    <img src="IMG_8903.jpg" alt="">
                </div>
            </div>
        </main>
    </body>
</html>