.cole-clerk-container{
    width: 170px;
    height: 110px;
    background-color: var(--color-orange);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: var(--drop-shadow);
    text-align: center;
}
.cole-clerk-container h3{
    font-family: var(--font-family);
    font-size: var(--font-h3);
    font-weight: var(--font-weight);
}
body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* 横方向の中央寄せ */
    align-items: center;     /* 縦方向の中央寄せ */
    }