<html lang="ja">
<head>
    <link rel="stylesheet" href="../../../style/24reset.css">
    <link rel="stylesheet" href="../../../style/base.css">
    <link rel="stylesheet" href="style.css">
</head>
<main>
    <div class="counter">
        <button class="counter-minus" id="minus-button"><span></span></button>
        <h2 class="counter-number" id="count-number">1</h2>
        <button class="counter-plus" id="plus-button"><span></span></button>
    </div>
    <script src="script.js"></script>
</main>
</html>