.clerk-call-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.call-button-container{
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 260px;
    align-items: center;
    & button{
        width: 170px;
        height: 130px;
        border-radius: 20px;
        box-shadow: var(--drop-shadow); 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    & .call-yes{
        background-color: var(--color-blue);
    }
    & .call-no{
        background-color: var(--color-orange);
    }
}