
<html lang="ja">
<head>
    <link rel="stylesheet" href="../../../style/24reset.css">
    <link rel="stylesheet" href="../../../style/base.css">
    <link rel="stylesheet" href="style.css">
</head>
<main>
    <!-- 仮でtop1.htmlに飛ぶようにしている -->
    <button class="product-list-container"
    onclick="location.href='../../../pages/top1.html'">
    <!-- 画像は今仮置きですが、最後はジャンルごとの画像に差し替える -->
        <img src="../../../images/IMG_8903.jpg" alt="商品画像">
        <div class="product-list-title-container">
            <p>ポテトフライ</p>
        </div>
        <div class="product-list-info-container">
            <div class="product-list-allergy-container">
                <p>アレルギー</p>
                <ul class="product-list-allergy-list">
                    <li><img src="../../../images/buckwheat.png" alt="そばの画像"></li>
                    <li><img src="../../../images/Crab.png" alt="蟹の画像"></li>
                    <li><img src="../../../images/egg.png" alt="卵の画像"></li>
                    <li><img src="../../../images/milk.png" alt="牛乳の画像"></li>
                    <li><img src="../../../images/peanut.png" alt="落花生の画像"></li>
                    <li><img src="../../../images/Shrimp.png" alt="海老の画像"></li>
                    <li><img src="../../../images/walnut.png" alt="胡桃の画像"></li>
                    <li><img src="../../../images/wheat.png" alt="小麦の画像"></li>
                </ul>
            </div>
            <h2>1,000円</h2>
        </div>
    </button>
</main>
</html>