.order-confirmed-container{
    width: 170px;
    height: 130px;
    background-color: var(--color-brown);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: var(--drop-shadow);
    text-align: center;
}
.order-confirmed-container h3{
    color: var(--color-white);
}