.back-menu-container{
    width: 170px;
    height: 110px;
    background-color: var(--color-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: var(--drop-shadow);
}
.back-menu-container h3{
    font-family: var(--font-family);
    font-size: var(--font-h3);
    font-weight: var(--font-weight);
}